@import '~antd/dist/antd.css';

.container{
  display: flex;
}
.container .nav-left{
  color: white;
  min-width: 100px;
  height: 100vh;
  background-color: #031528
}
.main{
  height: 95vh;
}
.content{
  width: 100%;
  height: 85vh;
}